:root {
  font-size: 10px;
}

*,
* ::after,
* ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  color: #022954;
  background-color: #E8E4DD;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 762px) {
  body {
    font-size: 1.3rem;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 1rem;
  }
  .hero-img {
    height: 40rem;
  }

}

.hero {
  margin: 3rem;
}

.hero-img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  border-radius: 1rem;
}

nav {
  padding: 5rem 5rem 2rem 5rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li,
a {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  color: #022954;
}
  
nav i {
  margin-left: .53rem;
}

.title-container {
  font-size: clamp(2rem, 5vw, 9rem);
  text-align: center;
}

.subtitle-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding-inline: 5rem;
  padding-block: 2rem;
  letter-spacing: 1rem;
}

/* .subtitle-container p {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 5rem;
  } */

/* .subtitle-container p:hover{
    background-color: #022954;
    color: white;
    cursor: pointer;
  } */


/* CONTENTS PAGE STYLES START */

.contents-header,
.intro-page-header {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 200rem;
  justify-content: center;
  align-items: center;
}

.contents-wrapper div {
  margin-bottom: 5rem;
  max-width: 70rem;
}

.contents-header i,
.intro-page-header i {
  font-size: 4rem;
  color: #022954;
}

.contents-wrapper div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents-container img {
  max-width: 30%;
}

/* CONTENTS PAGE STYLES END */



/* INTRO PAGE STYLES START */

.intro-page-header {
  position: absolute;
  right: 0;
}

.intro-pages-container {
  width: 100vw;
  display: flex;
}

.intro-image-container {
  position: relative;
}

.intro-image-container img {
  height: 116vh;
  object-fit: cover;
  width: 90rem;
  object-position: -5rem;
  padding-right: 5rem;
  padding-left: 20rem;
  border-right: .5rem dashed #022954;
}

.intro-image-container p {
  position: absolute;
  top: 50rem;
  left: -16rem;
  text-transform: uppercase;
  font-style: italic;
  transform: rotate(-90deg);
  display: block;
  letter-spacing: 1rem;
}

.intro-para-container {
  padding: 10rem;
}

.intro-para-container h1 {
  font-size: 18rem;
  text-transform: uppercase;
}

.intro-para-container p {
  text-align: justify;
  font-size: 2.5rem;
  width: 70rem;
  line-height: 5rem;
}

.secondpage {
  display: none;
  height: 100vh;
  padding: 9rem;
  display: none;
}

.page-active-block {
  display: none;
}

.page-active-flex {
  display: flex;
}

.intro-second-para-container div>p:nth-child(2) {
  text-align: right;
}

.intro-second-para-container>div {
  background-color: #354C7C;
  color: #E8E4DD;
  width: 100%;
  height: 100%;
  padding: 5rem;
  border: white .3rem dashed;
  position: relative;
}

.intro-second-para-container {
  position: relative;
  width: 60%;
  margin-right: 5rem;
}


.intro-second-para-container p {
  margin-bottom: 5rem;
  word-spacing: .5rem;
  letter-spacing: .2rem;
  line-height: 3rem;
  text-align: justify;
}

.second-page-img-container {
  position: relative;
}

.second-page-img-container .firstimg {
  width: 45%;
  position: absolute;
  top: -67px;
  left: 5px;
}

.second-page-img-container .thirdimg {
  width: 35%;
  position: absolute;
  top: -105px;
  right: -135px;
}

.second-page-img-container .fourthimg {
  width: 45%;
  position: absolute;
  top: 607px;
  left: 400px;
}

.second-page-img-container .secondimg {
  width: 80%;
  position: absolute;
  top: 570px;
  left: -220px;
}

.intro-second-img-container img {
  object-fit: cover;
  aspect-ratio: 5/3.9;
  width: 90%;
  padding: 6rem;
  border-radius: 8rem;
}

.intro-second-img-container {
  width: 100%;
  border: #022954 .3rem dashed;
}

.intro-second-img-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.intro-next {
  margin-left: 1rem;
  cursor: pointer;
}

/* INTRO PAGE STYLES END */


/* HOBBIES PAGE STYLES START */

.hobbies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: calc(100vh - 142px);
  flex-wrap: wrap;

}

.hobbies-wrapper {
  width: 50rem;
  cursor: pointer;

}


.hobbies-container .hobbie-img-container {
  border: #697eac 1rem solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50rem;
  border-radius: 1rem;
}

.star-container p {
  margin-right: 2rem;
  font-weight: bold;
}

.hobbie-img-container {
  background-color: #354C7C;
  object-fit: cover;
  overflow: hidden;
  transition: all .8s ease-in-out;
}


.mainBlur {
  filter: blur(5px);
}

.hobbie-img-container:hover h1{
  color: white;
  font-size: 20rem;
}

.hobbie-img-container:hover {
  transform: scale(1.05);
  border: white 1rem solid;
  box-shadow: 1rem 1rem 3rem #022954;
}

.hobbie-img-container img {
  z-index: 1;
  transition: all 1s ease-in-out;
}

.hobbie-img-container:hover img {
  transform: scale(1.1);
}

.hobbie-img-container h1 {
  color: #697eac;
  position: absolute;
  text-transform: uppercase;

  top: 0px;
  font-size: 9rem;
  transition: all .7s ease-in-out;
  white-space: nowrap;
  display: block;
}

.star-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.reading-img {
  position: absolute;
  /* width: 68rem;
  top: -13rem; */
}

.music-img {
  position: absolute;
  /* width: 78.4rem;
  top: -29rem; */
}

.hobby-modal {
  background-color: #354C7C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem;
  margin: 5rem;
  border-radius: 1rem;
  position: fixed;
  z-index: 1000;
  min-width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -50%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header i {
  font-size: 4rem;
  cursor: pointer;
}

.modal-header i:hover {
  color: #022954;
}

.modal-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hobby-modal h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.hobby-modal p {
  font-size: 2.5rem;
  max-width: 100rem;
  padding: 3rem 5rem;
  margin-bottom: 5rem;
  word-spacing: .5rem;
  letter-spacing: .2rem;
  line-height: 3rem;
  text-align: justify;

}

.modal-img-container img {
  width: 35%;
  height: auto;
  object-fit: cover;
  object-position: 30%;
  background-color: #E8E4DD;
}

.modal-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

/* HOBBIES PAGE STYLES END */


.inspi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #022954;
  padding: 7rem;
  max-width: 100rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 5rem;
  color: white;
  border-radius: 1rem;
}

.inspi-img-container img {
  width: 30rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.inspi-img-container {
  padding: 1rem;
  border: #697eac .5rem dashed;
  border-radius: 50%;
}

.inspi-desc-container p {
  word-spacing: .5rem;
  margin-top: 2rem;
  letter-spacing: .2rem;
  line-height: 3rem;
  text-align: justify;
}