:root {
  font-size: 10px;
}

*,
* ::after,
* ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  color: #022954;
  background-color: #E8E4DD;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 720px) {
  body{
  font-size: 1.3rem;
  }
}

.hero {
  margin: 3rem;
}

.hero-img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  border-radius: 1rem;
}

nav {
  padding: 5rem 5rem 2rem 5rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li,
a {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  color: #022954;
}

nav i {
  margin-left: .53rem;
}

.title-container {
  font-size: clamp(2rem, 5vw, 9rem);
  text-align: center;
}

.subtitle-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-inline: 5rem;
  padding-block: 2rem;
  letter-spacing: 1rem;
}

/* .subtitle-container p {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 5rem;
  } */

/* .subtitle-container p:hover{
    background-color: #022954;
    color: white;
    cursor: pointer;
  } */


/* CONTENTS PAGE STYLES START */

.contents-header, .intro-page-header {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 200rem;
  justify-content: center;
  align-items: center;
}

.contents-wrapper div {
  margin-bottom: 5rem;
  width: 70rem;
}

.contents-header i, .intro-page-header  i {
  font-size: 4rem;
  color: #022954;
}

.contents-wrapper div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents-container img {
  width: 30%;
}

/* CONTENTS PAGE STYLES END */



/* INTRO PAGE STYLES START */

.intro-page-header {
  position: absolute; 
  right: 0;
}

.intro-pages-container {
  width: 100vw;
  display: flex;
}

.intro-image-container {
  position: relative;
}

.intro-image-container img {
  height: 116vh;
  object-fit: cover;
  width: 90rem;
  object-position: -5rem;
  padding-right: 5rem;
  padding-left: 20rem;
  border-right: .5rem dashed #022954;
}

.intro-image-container p {
  position: absolute;
  top: 50rem;
  left: -16rem;
  text-transform: uppercase;
  font-style: italic;
  transform: rotate(-90deg);
  display: block;
  letter-spacing: 1rem;
}

.intro-para-container {
  padding: 10rem;
}

.intro-para-container h1 {
  font-size: 18rem;
  text-transform: uppercase;
}

.intro-para-container p {
  text-align: justify;
  font-size: 2.5rem;
  width: 70rem;
  line-height: 5rem;
}

.secondpage {
  display: none;
  height: 100vh;
  padding: 9rem;
  display: none;
}

.page-active-block {
display: none;
}

.page-active-flex {
  display: flex;
}

.intro-second-para-container div > p:nth-child(2)  {
  text-align: right;
}

.intro-second-para-container > div {
  background-color: #354C7C;
  color: #E8E4DD;
  width: 100%;
  height: 100%;
  padding: 5rem;
  border: white .3rem dashed;
  position: relative;
}

.intro-second-para-container {
  position: relative;
  width: 60%;
  margin-right: 5rem;
}


.intro-second-para-container p {
  margin-bottom: 5rem;
  word-spacing: .5rem;
  letter-spacing: .2rem;
  line-height: 3rem;
  text-align: justify;
}

.second-page-img-container {
  position: relative;
}

.second-page-img-container .firstimg {
  width: 45%;
  position: absolute;
  top: -67px;
  left: 5px;
}

.second-page-img-container .thirdimg {
  width: 35%;
  position: absolute;
  top: -105px;
  right: -135px;
}

.second-page-img-container .fourthimg {
  width: 45%;
  position: absolute;
  top: 607px;
  left: 400px;
}

.second-page-img-container .secondimg{
  width: 80%;
  position: absolute;
  top: 570px;
  left: -220px;
}

.intro-second-img-container img {
  object-fit: cover;
  aspect-ratio: 5/3.9;
  width: 90%;
  padding: 6rem;
  border-radius: 8rem;
}

.intro-second-img-container  {
  width: 100%;
  border: #022954 .3rem dashed;
}

.intro-second-img-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.intro-next {
  margin-left: 1rem;
  cursor: pointer;
}
/* INTRO PAGE STYLES END */